QPushButton {
color: #fff;
border: 1px solid #1b2018;
border-radius: 9px;
padding: 5px;
background: qradialgradient(cx: 0.3, cy: -0.4,
fx: 0.3, fy: -0.4,
radius: 1.35, stop: 0 #46503f, stop: 1 #2d3328);

min-width: 66px;
}

QPushButton:hover {
background: qradialgradient(cx: 0.3, cy: -0.4,
fx: 0.3, fy: -0.4,
radius: 1.35, stop: 0 #535e4a, stop: 1 #3a4234);
}

QPushButton:pressed {
background: qradialgradient(cx: 0.4, cy: -0.1,
fx: 0.4, fy: -0.1,
radius: 1.35, stop: 0 #70e01a, stop: 1#3b770e);
}

QPushButton:disabled {
background: qradialgradient(cx: 0.4, cy: -0.1,
fx: 0.4, fy: -0.1,
radius: 1.35, stop: 0 #70e01a, stop: 1#3b770e);
}

QPushButton:disabled[flashing="true"] {
background: qradialgradient(cx: 0.4, cy: -0.1,
fx: 0.4, fy: -0.1,
radius: 1.35, stop: 0 #3a4234, stop: 1#21251d);
}